@import url('https://fonts.googleapis.com/css?family=Lato:100,300,700,900|Roboto:100,300,500,700,900');
html, body{
	padding:0;
	margin:0;
	font-family: 'Lato';
	overflow-x: hidden;
}
.inner{
	width:100%;
}
.body-in{
	
}
.button{
	cursor: pointer;
	margin: 3px;
	user-select: none;
	padding:10px ;
	color: #fff;
	background: #825a57;
	border-radius:5px;
}

.ing{
	margin: 3px;
	padding:10px ;
	font-family: 'ROBOTO';
	font-weight: 900;
	font-size: 20px;
	border-radius:5px;
}
